{% extends 'servicios/ser_base.html' %}

{% load blocktags %}
{% load thumbnail %}
{% load i18n %}

{% block ser_title %}{% blocktrans %}Home{% endblocktrans %}{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jquery.searchbox/jquery.searchbox.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jquery.jqmodal/jqModal.css" />

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.searchbox/jquery.searchbox.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jqmodal/jqModal.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jqdnr/jqDnR.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/servicios/ser_inicio.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/servicios/googlemaps.ubicacion.js"> </script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

    {# Los popups de formularios con errores se muestran #}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_nombre').SearchBox("/servicios/json_fast_servicios/", mostrar_busqueda, {box_img: '{{ MEDIA_URL }}servicios/recursos/lupa.png'});
            {% if login_form.is_bound and not login_form.is_valid %}
                $("#ser_login").jqmShow();
            {% endif %}
            {% if recuperar_form.is_bound and not recuperar_form.is_valid %}
                $("#ser_recuperar").jqmShow();
            {% endif %}
            {% if nuevo_servicio_form.is_bound and not nuevo_servicio_form.is_valid or captcha_error %}
                $("#ser_nuevo").jqmShow();
                loadMap();
            {% endif %}
            {% if ubicacion_form.is_bound and not ubicacion_form.is_valid or captcha_error %}
                $("#ser_nuevo").jqmShow();
                loadMap();
            {% endif %}
            {% if nuevo_servicio_form.is_bound and not nuevo_servicio_form.is_valid %}
                $("#ser_nuevo").jqmShow();
            {% endif %}
        })
    </script>
{% endblock %}

{% block ser_content %}
    {# Formulario para la búsqueda de servicios #}
    <div class="span-20 last services_box search_form">
        <h2>{% blocktrans %}Service search{% endblocktrans %}</h2>
        <div class="services_box_content">
            <form action="{% url ser_perfiles "puntuacion" %}" method="post" id="form_buscar" >
                <ul>
                    {{ busqueda_form.non_field_errors }}
                    <li>
                        {{ busqueda_form.ubicacion.errors }}
                        {{ busqueda_form.ubicacion.label_tag }}
                        {{ busqueda_form.ubicacion }}
                        <img class="map_link ser_link" src="{{ MEDIA_URL }}servicios/recursos/mundo boton vermapa.png" />
                        <img class="map_link ser_link img_vert" src="{{ MEDIA_URL }}servicios/recursos/btn_ver mapa.png" alt="Ver mapa" />
                        {{ busqueda_form.viewport }}
                        {{ busqueda_form.location }}
                    </li>
                    <li class="common_places">
                        <span class="label_common">{% blocktrans %}Find THE place{% endblocktrans %}</span>
                        <ul class="common_places_li">
                            {% for ubicacion in ubicaciones_comunes %}
                            <li>
                                <span class="ubicacion_comun ser_link">{{ ubicacion.nombre }}</span>  {% if not forloop.last %}|{% endif %}
                            </li>
                            {% empty %}
                                <br>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        {{ busqueda_form.nombre.errors }}
                        {{ busqueda_form.nombre.label_tag }}
                        {{ busqueda_form.nombre }}
                        <img
                            class="search_box_new_link ser_link img_vert"
                            src="{{ MEDIA_URL }}servicios/recursos/btn_nuevo servicio.png"
                            alt="Nuevo servicio" />
                    </li>
                    <li>
                        {{ busqueda_form.tipo.errors }}
                        {{ busqueda_form.tipo.label_tag }}
                        <div class="styled_select"></div>
                        {{ busqueda_form.tipo }}
                    </li>
                </ul>
                <div class="login_registro">
                {% if user.is_authenticated and not user.get_profile.titulo %}
                    {% blocktrans %}You're logged as{% endblocktrans %} {{ user.username }} | <a href="{% url ser_perfil_privado %}">{% blocktrans %}Edit profile{% endblocktrans %}</a> | <a href="{% url ser_cerrar_sesion %}">{% blocktrans %}Logout{% endblocktrans %}</a>
                {% else %}
                    <span class="label_common">{% blocktrans %}Users{% endblocktrans %}</span>
                    <span class="login_link ser_link">Login</span> |
                    <a href={% url ser_registro %}>{% blocktrans %}Register{% endblocktrans %}</a>
                {% endif %}
                    <input type="submit" value="Search" />
                </div>
            </form>
        </div>
    </div>
    <div class="span-20 last services_shadow">
        <div class="span-10 left"></div><div class="span-10 last right"></div>
    </div>

    {# Servicios mejor valorados #}
    <div class="span-10">
        <div class="span-10 services_box services_list">
            <h2>Top ranked services</h2>
            <div class="span-10 services_box_content">
                <ul>
                {% for servicio in valorados %}
                    <li>
                        {% ser_preview servicio %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="span-10 services_shadow">
            <div class="span-5 left"></div><div class="span-5 last right"></div>
        </div>
    </div>

    {# Servicios destacados #}
    <div class="span-10 last">
        <div class="span-10 last services_box services_list">
            <h2>{% blocktrans %}Promoted services{% endblocktrans %}</h2>
            <div class="span-10 last services_box_content">
                <ul>
                {% for servicio in destacados %}
                    <li>
                        {% ser_preview servicio %}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="span-10 last services_shadow">
            <div class="span-5 left"></div><div class="span-5 last right"></div>
        </div>
    </div>

    {# Actividades recientes #}
    <div class="span-20 last services_box activities_log">
        <a name="activity_link"></a>
        <h2>The latest</h2>
        <div class="services_box_content">
            <ul>
            {% for actividad in actividades.object_list %}
                <li>
                    <a href="{{ actividad.servicio.get_absolute_url }}"><img src="{% thumbnail actividad.servicio.foto_principal "icon" %}" title="{{ actividad.servicio.nombre }}" /></a>
                    <span class="activity_text">{{ actividad.servicio.tipo_servicio }} <a href="{{ actividad.servicio.get_absolute_url }}">{{ actividad.servicio }}</a> {{ actividad.get_tipo_display }}{% if actividad.usuario %} <a href="{{ actividad.usuario.get_absolute_url }}">{{ actividad.usuario }}</a>{% endif %}. Occurred on {{ actividad.fecha|date }}.</span>
                </li>
            {% endfor %}
            </ul>

            {% ser_paginator actividades "activity_link" %}
        </div>
    </div>
    <div class="span-20 last services_shadow">
        <div class="span-10 left"></div><div class="span-10 last right"></div>
    </div>

    {# POPUPS #}
    {# Mapa del servicio cargado desde el botón ubicación en los destacados y mejor valorados: popup #}
    {% include "servicios/popups/place_preview.html" %}

    {# Mapa para ayudar a encontrar una ubicación para buscar: popup #}
    {% include "servicios/popups/place_search.html" %}

    {# Login para administradores: popup #}
    <div id="ser_login" class="jqmWindow services_box">
        <h2>{% blocktrans %}Login of service manager{% endblocktrans %}</h2>
        <div class="services_box_content">
            <form action="" method="post">
                <ul class="popup_form">
                    {{ login_form.as_ul }}
                </ul>
                <div class="append-bottom right">
                    <span class="closeClass ser_link">{% blocktrans %}Close{% endblocktrans %}</span> |
                    <span class="recuperar_link ser_link">{% blocktrans %}Forgot your password?{% endblocktrans %}</span> |
                    <input type="submit" value="Login" name="login" />
                </div>
            </form>
        </div>
    </div>

    {# Recuperar contraseña: popup #}
    <div id="ser_recuperar" class="jqmWindow services_box">
        <h2>{% blocktrans %}Get your password back{% endblocktrans %}</h2>
        <div class="services_box_content popup_form">
            <form action="" method="post">
                <ul>
                    <li>
                        {% blocktrans %}Send a new password to my e-mail address{% endblocktrans %}
                    </li>
                    {{ recuperar_form.as_ul }}
                </ul>
                <div class="append-bottom right">
                    <span class="closeClass ser_link">{% blocktrans %}Close{% endblocktrans %}</span> |
                    <input type="submit" value="{% blocktrans %}Send it{% endblocktrans %}" name="recuperar" />
                </div>
            </form>
        </div>
    </div>

    {# Formulario para el ingreso de un nuevo servicio: popup #}
    {% include "servicios/popups/new_service.html" %}
{% endblock %}
