{% extends "portal/menu_views/galeria/base_galeria.html"  %}
{% block ini %}
    {% load thumbnail %}
    {% load banners %}
    {% load i18n %}
{% endblock %}

{% block head %}    
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.lightbox-0.5.css" media="screen" />
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog 'MP100' %}"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lightbox-0.5.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.prettyPopin.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/fotos_style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/prettyPopin.css"/>
    <script type="text/javascript">
        $(document).ready(function(){
	//inicializa prettyPopin
	    $("a[rel^='prettyPopin']").prettyPopin({
		    //modal : false, /* true/false */
		    width : 200, /* false/integer */
		    //height: false, /* false/integer */
		    //opacity: 0.5, /* value from 0 to 1 */
		    //animationSpeed: 'fast', /* slow/medium/fast/integer */
		    //followScroll: true, /* true/false */
		    loader_path: '{{ MEDIA_URL }}images/prettyPopin/loader.gif', /* path to your loading image */
		    callback: function(){} /* callback called when closing the popin */
	    });

            // Puntuar la foto
            $("#me_gusta").click(function(){
                json_url = "{% url json_me_gusta foto.id %}";
                $.getJSON(json_url, function(rpta) {
                    if(rpta.maximo){
                        $("#me_gusta").before("<spam>{% blocktrans %}Ya utilizaste tus 5 votos por esta temporada{% endblocktrans %}</spam>");
                        $("#me_gusta").remove();                        
                    }
                    else{
			var remainingVotes = 5-{{user.get_profile.me_gusta_temp}}-1;
			var msj="";
			//var msj_premio = "<spam>Sabías que puedes ganar 1 Iphone 8G si las fotos que eliges como favoritas ganan alguna temporada. </spam>";
			if(remainingVotes == 1){
			    msj = "<spam>{% blocktrans %}Esta foto te gusta{% endblocktrans %}.<br/> {% blocktrans %}Te queda{% endblocktrans %} " + remainingVotes + " {% blocktrans %}voto.{% endblocktrans %}</spam>";
			}
			else{
			    msj = "<spam>{% blocktrans %}Esta foto te gusta.{% endblocktrans %}<br/> {% blocktrans %}Te quedan{% endblocktrans %} " + remainingVotes + " {% blocktrans %}votos.{% endblocktrans %}</spam>";
			}
                        $("#me_gusta").before(msj);
                        $("#me_gusta").remove();
                        $(".fans").html(rpta.fans);
                    }
                });
            });
            
            // Agregar la foto a los favoritos
            $("#add_favoritos").click(function(){
                json_url = "{% url json_add_favoritos foto.id %}";
                $.getJSON(json_url, function(rpta) {
                    if(rpta.response){
                        $("#add_favoritos").before("<spam>Esta foto está en tus favoritos</spam>");
                        $("#add_favoritos").remove();
                        $("#n_favoritos").html(rpta.fans);
                    }
                    else{
                        $("#add_favoritos").before("<spam>Ya elegiste tus 5 favoritos de esta temporada</spam>");
                        $("#add_favoritos").remove();                        
                    }
                });
            });
            //muestra y esconde los comentarios de la foto
            $("#ver_comentarios").click(function(event){
                event.preventDefault();
                $('#comentarios').toggle("slow");
            });
            
            $(".compartir-url").click(function(){
                $(this).focus();
                $(this).select();
            });
        });
        $(function() {
                $('a.lightbox').lightBox({
                    imageLoading:			'{{MEDIA_URL}}images/jquery-lightbox-0.5/lightbox-ico-loading.gif',		
                    imageBtnPrev:			'{{MEDIA_URL}}images/jquery-lightbox-0.5/lightbox-btn-prev.gif',			
                    imageBtnNext:			'{{MEDIA_URL}}images/jquery-lightbox-0.5/lightbox-btn-next.gif',			
                    imageBtnClose:			'{{MEDIA_URL}}images/jquery-lightbox-0.5/lightbox-btn-close.gif',		
                    imageBlank:				'{{MEDIA_URL}}images/jquery-lightbox-0.5/lightbox-blank.gif',			
                    
                }); 
        });        
    </script>

    <meta property="og:title" content={% blocktrans %}"Concurso de fotos Yo estuve en Machu Picchu"{% endblocktrans %} />
    <meta property="og:type" content="Sharing Widgets" />
    <meta property="og:url" content="http://{{domain}}{% url portal_navegar_foto foto.codigo_user.id foto.id %}" />
    <!--<meta property="og:image" content="http://sharethis.com/images/logo.jpg" />-->
    <meta property="og:description" content="Vota por la foto {{foto.titulo}}." />
    <meta property="og:site_name" content="ShareThis" />

    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher:'b6c7f2ae-02bd-4c16-87c5-05c4bcb7ae33'});</script>    
    
{% endblock %}


{% block body %}

<body>

    {% block top_form %}
        {{ block.super }}
    {% endblock %}

<div class="wide_notices_header_bottom">
  <div class="container"></div>
</div>

<div class="wide_main_title">
  <div class="container">
    <div class="span-24 last contet_header">
      <div class="span-24  last header_ads">
	<img width="950"  src="{{MEDIA_URL}}dump_images/adv_950.png" 
	     alt="950px advertisement"/>
	<!--{% block banner1 %} {% banners "H" %} {% endblock %}-->        
      </div>
      
  <div class="wide_hormenu">
    <div class="container">
      <ul class="horizontal_menu">
	    <li class="first"><a href="{% url main_portal %}">{% blocktrans %}Inicio{% endblocktrans %}</a></li>
	    <li class="second"><a href="{% url portal_sobre_MP %}">{% blocktrans %}Sobre Machu Picchu{% endblocktrans %}</a></li>
	    <li class="third selected"><a href="{% url portal_galeria_vote %}">{% blocktrans %}Galería de Imágenes{% endblocktrans %}</a></li>
	    <li class="fourth"><a href="{% url portal_ver_bases %}">{% blocktrans %}Información y bases del concurso{% endblocktrans %}</a></li>
	    <li class="fifth"><a href="{% url portal_organizadores_auspiciadores %}">{% blocktrans %}Organizadores y auspiciadores{% endblocktrans %}</a></li>
	    <li class="sixth"><a href="{% url portal_rrss %}">{% blocktrans %}Responsabilidad social{% endblocktrans %}</a></li>
	    
      </ul>
    </div>
  </div>      
      
      <div class="span-24 last content_box">
	<h1>Machupicchu 100</h1>
      </div>
    </div>
  </div>
</div>


<div class="pre_title_h_bar">
  <div class="container"></div>
</div>

<div class="post_contet_box_header">
  <div class="container">
    <h2>{{foto.titulo}}</h2>
  </div>
</div>

<div class="main_content">
  <div class="container">
    <div class="span-11 notice-content append-1">


    {% block main_body %}

    <div class="image_detail">

      <a href="#" class="prev">
        <!--<img src="{{MEDIA_URL}}style_imgs/prev_image_arrow.png"/>-->
      </a>
      <div class="main_frame">
        {% load thumbnail %}
        <!--<img src="{{MEDIA_URL}}dump_images/machu-picchu.jpg" width="360"/>-->
        <a href="{{ MEDIA_URL }}{{ foto.foto}}" class="lightbox" title="{{ foto.titulo }}">
            <img src="{% thumbnail foto.foto "360x360" %}"
		width=360px height=360px alt="{{ foto.titulo }}" />
	    </a>
      </div>
      <a href="#" class="next">
        <!--<img src="{{MEDIA_URL}}style_imgs/next_image_arrow.png"/>-->
      </a>
      {% if foto.temporada_habilitado == 'S' %}
	<a href="{% url portal_galeria_vote %}" class="submit"> {% blocktrans %}Volver a la galería{% endblocktrans %} </a>
      {% else %}
	<a href="{% url portal_proxima_temporada %}" class="submit"> {% blocktrans %}Volver a la galería{% endblocktrans %} </a>
      {% endif %}
      <div class="clear"></div>
    </div>    

    {% if foto.temporada_habilitado == 'S' %}    
	<table class="image_information">
	<tr>
	  <td><label>{% blocktrans %}Titulo{% endblocktrans %}:</label> {{foto.titulo}}</td>
	  <td class="rightcol">
		    <div class="favoritos">
		    {% if user.is_authenticated %}
			{% if es_favorito %}
			<spam>{% blocktrans %}Esta foto está en tus favoritos{% endblocktrans %}</spam>
			{% else %}
			<a id="add_favoritos" class="submit" href="#">{% blocktrans %}Agregar a favoritos{% endblocktrans %}</a>
			{% endif %}
		    {% else %}
			<spam>{% blocktrans %}Para agregar esta foto a tus favoritos necesitas iniciar sesión{% endblocktrans %}</spam>
		    {% endif %}
		    </div>
	  </td>
	</tr>
	<tr>
	  <td><label>{% blocktrans %}Comentarios{% endblocktrans %}</label> {{comentarios|length}}</td>
	  <td class="rightcol">
	    <label>{% blocktrans %}URL de la foto{% endblocktrans %}:</label> 
	    <input class="compartir-url" type="text" value="http://{{domain}}{% url fotos_navegar_foto_publico foto.codigo_user.id foto.id %}"
		   readonly="readonly"/></td>
	</tr>
	<tr>
	  <td>
	    <label>{% blocktrans %}Votos{% endblocktrans %}:</label> <spam class="fans">{% if user in fans %} {{ fans|length }} {% else %} ? {% endif %}</spam>
	  </td>
	  <td class="rightcol">
	    <label>{% blocktrans %}Insertar URL:{% endblocktrans %}</label> 
	    <input class="compartir-url" type="text" value="<a href='http://{{domain}}{% url fotos_navegar_foto_publico foto.codigo_user.id foto.id %}'> <img width=200px src='{{foto.foto.url}}'/> </a>" 
		   readonly="readonly"/></td>
	</tr>
	<tr>
	  <td><label>{% blocktrans %}Vistas{% endblocktrans %}:</label> {{ foto.vistas }}</td>
	  <td class="rightcol">
    <!--        <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
	    <fb:like href="http://mp100.alwaysdata.net/" align='right' layout="button_count" show_faces="true" width=120px action="recommend" font="arial" colorscheme="dark"></fb:like>-->
	</tr>
	<tr>
	  <td><label>{% blocktrans %}Favorito{% endblocktrans %}:</label><spam id="n_favoritos"> {{total_favoritos}}</spam></td>
	  <td class="rightcol"></td>
	</tr>
    
    {% if is_temporada %}
	<tr>
	  <td colspan=2>
		<span class="st_twitter_large" displayText="Tweet"></span>
		<span class="st_facebook_large" displayText="Facebook"></span>
		<span class="st_ybuzz_large" displayText="Yahoo! Buzz"></span>
		<span class="st_gbuzz_large" displayText="Google Buzz"></span>
		<span class="st_email_large" displayText="Email"></span>
		<span class="st_sharethis_large" displayText="ShareThis"></span>        
	  </td>
	</tr>
    {% endif %}
	</table>
    
	<!--<div class="comentarios">-->
	    <!-- Formulario para dejar un comentario -->
	    {% if user.is_authenticated %}
	    
	    {% if is_comentado %}
		<p>{% blocktrans %}Tu comentario ha sido enviado, está pendiente de moderación. {% endblocktrans %}</p>
	    {% endif %}
    
	    <form action="" method="post">   
		<table class="image_information">
		  <tr>
		    <td><label>{% blocktrans %}Agregar un comentario{% endblocktrans %}:</label></td>
		    <td class="rightcol">
		      <a herf="#" class="submit" id="ver_comentarios">{% blocktrans %}Ver Comentarios{% endblocktrans %}</a></td>
		  </tr>
		  <tr>
		    <td colspan="2">
		      {{form.texto}}
		    </td>
		  </tr>
		  <tr>
		    <td>
		      <input class="button" type="submit" 
			     value="{% blocktrans %}Enviar comentario{% endblocktrans %}"/>
		    </td>
		    <td></td>
		  </tr>
		</table>	    
		
	    </form>
	    {% else %}
	    <spam>{% blocktrans %}Para dejar tu comentario debes iniciar sesión{% endblocktrans %}</spam>
	    {% endif %}
    
    
	    <div id="comentarios" style="display: none;">
		<hr class="profile_separator"/>
		<h2>{% blocktrans %}Comentarios{% endblocktrans %}</h2>
		<!--<spam>{{ comentarios|length }} comentario{{ comentarios|pluralize }} en esta foto.</spam>-->
		{% for comentario in comentarios %}
		  <div class="user_pic">
		    <a href="#">
		      <img src="{% thumbnail comentario.user.get_profile.foto "75x75"  %}" width=75px height=75px alt="{{ comentario.user.username }}" />
		    </a>
		    <p class="caption"><a href="#">{{ comentario.user.first_name }}</a></p>
		  </div>
		    <div class="inside_user_image2">
			<form  action="/user/borrar_comentario/" method=POST> {% csrf_token %}
			    <input type="hidden" value="{{comentario.id}}" id="id_comentario_id" name="comentario_id">
			    <input id="photo_delete_button" type="submit" value="" alt="Borrar" title="Borrar comentario" >
			</form>
		    </div>             
	
		  <div class="comment-box">
		    {{ comentario.texto }}
		  </div>
		   
		  <div class="clear"></div>
		  <hr class="profile_separator feeds"/>                
	
		{% endfor %}
	    </div>
    {% endif %}
    <!--</div>-->


        
    
    {% endblock %}

    
    </div>

    <div class="span-6 prepend-1 notice_menu">
      <ul class="menu_bar">
	<li>{% blocktrans %}Titulo{% endblocktrans %}:<BR/> {{foto.titulo}}</li>
	<li>{% blocktrans %}Descripción{% endblocktrans %}:<BR/> {{foto.descripcion}}</li>
	{% if foto.temporada_habilitado == 'S' %}
	    <li>
		    {% if user.is_authenticated %}
			{% if user in fans %}
			<spam>{% blocktrans %}Esta foto te gusta{% endblocktrans %}</spam>
			{% else %}
			    {% if not self_user %}
				<a id="me_gusta" class="submit" rel="prettyPopin" href="{% url portal_msje_voto %}">{% blocktrans %}Votar{% endblocktrans %}</a>
			    {% endif %}
			{% endif %}
		    {% else %}
			<spam>{% blocktrans %}Para poder votar por esta foto necesitas iniciar sesión o {% endblocktrans %}<a href="{% url registro %}" >{% blocktrans %}registrarte{% endblocktrans %}</a> </spam>
		    {% endif %}	
	    </li>
	{% endif %}
      </ul>
      <div class="clear"></div>
      <h3>{% blocktrans %}Concurso de Fotografia para aficionados{% endblocktrans %}</h3>
      <a href="#">
  	<img src="{{MEDIA_URL}}dump_images/machu-picchu-center.jpg" alt="machu picchu" 
	     width="210"/>
      </a>
      <h2>{% blocktrans %}YO ESTUVE... {% endblocktrans %}</h2>
      <h2>{% blocktrans %}EN MACHU PICCHU{% endblocktrans %}</h2>
      <br/>
    </div>

    <div class="span-4 prepend-1 last vertical_adds">
      <img alt="advertisement" src="{{MEDIA_URL}}dump_images/adv_150_500.png"/>
      <!--{% block banner2 %} {% banners "V" %} {% endblock %}-->
    </div>
  </div>
</div>
<div class="wide_footer">
  <div class="container">
    <div class="span-24 last">
      <p>copyrigth©2011 quimeraONLIFE</p>
    </div>
  </div>
</div>
 
</body>
{% endblock %}





