{% load portal_tags %}

<table border=0 width=100% style=" padding: 10px 0px 10px 0px; " >
	<tr>
		<td align= "center">
		  <table style="border: 1px solid #d9d9db; border-collapse:collapse;">
		    <tr>
			<td>
			<table height=356 style="text-align: let; background-color:#FFFFFF; color:#333; border-collapse:collapse; font-family: arial sans-serif;"  width=600px border=0 >
				<tr>
					<td colspan=2>
					  <img border="0" src="http://mp100.s3.amazonaws.com/images/emails/cabeceras.jpg" usemap="#enlaces_cabecera" alt="Concurso de Fotografía Yo Estuve en Machu Picchu" />
					  <map name="enlaces_cabecera">
					    <area shape="rect" coords="14,0,82,61" href="http://machu-picchu100.com/"  target="_blank">
					    <area shape="rect" coords="463,11,5577,45" href="http://www.quimerahg.com/"  target="_blank">
					  </map>
					</td>
				</tr>
				<tr>
				  <td colspan=2>
				    <table width=600px border=0 style="border-collapse:collapse; font-family: arial sans-serif;">
					<td width="560px" style="padding:20px; ">
					    <p style="color:#899F3E; font-size:24px; font-family: impact;">Tu Foto Panorámica puede ganar un Premio Especial Machu Picchu 100</p>
					    <a href="http://machu-picchu100.com/panoramic_prize/">
					    <img border="0" src="http://c427815.r15.cf2.rackcdn.com/email_panoramicPrize_es.jpg" width="417px" height="229px" alt="Premio Especial Machu Picchu 100 para Fotos Panorámicas – Tu Foto puede ganar una camara digital Sony NEX-5">
					    </a>
					    <p>{{user_firstname}},</p>
					    <p style="font-weight:bold;">Además de competir para los viajes increíbles a Perú, su foto "{{photo_title}}" también es elegible para ganar un Machu Picchu 100 Premio Especial para la fotografía panorámica.</p>
					    <p style="color:#899F3E; font-weight: bold;">Machu Picchu 100 Premio Especial para la Fotografías Panorámicas:</p>
					    <ul>
						{% get_actual_and_next_temporadas actual_temp next_temp %}
						<li>Un grupo de fotógrafos profesionales seleccionará los mejores panorámicas de fotografía entre todas las participaciones no profesionales en el Concurso.</li>
						<li>El ganador será anunciado el 26 de agosto de 2011.</li>
						<li>Si tu foto es seleccionada, obtendrá un Sony αNEX-5 digital SLR!</li>
						{% if next_temp %}
						<li>Mientras tanto,tu foto seguirá competiendo en la votación virtual. y puedes ganar uno de los 7 viajes espectaculares a Perú.
						La votación comienza el {{next_temp.fecha_inicio|date:"D, j M Y h:i:s a"}} GMT -005 (Lima). Recuerda a tus amigos que voten a través
						de Facebook, Twitter, correo electrónico o ShareThis directamente desde la página de la foto.</li>
						{% endif %}
					    </ul>
					    <p>Buena suerte en el concurso!</p>

					</td>
				    </table>
				  </td>
				</tr>
				<tr>
				  <td colspan=2>
				    <table style="background-color: #839327; color:#fff; font-size: 11px; text-align: center; border-collapse:collapse; font-family: arial sans-serif;" width=600px border=0>
				      <tr><td>2011 QuimeraOnlife - &copy; Copyright</td></tr>
				    </table>
				  </td>
				</tr>
			</table>
			</td>
		    </tr>
		  </table>
		  <table width=600px border=0 style="border-collapse:collapse; font-size: 12px; color:#a3a5a9; font-family: arial sans-serif;">
		    <tr>
		        <td width=60px>
			  <table width=60px border=0 style="border-collapse:collapse; font-size: 12px; color:#a3a5a9; font-family: arial sans-serif;">
			  <tr><td colspan=2>Búscanos:</td></tr>
			  <tr>
			    <td><a href="http://www.facebook.com/machupicchu100photocontest" target="_blank"><img border="0" src="http://mp100.s3.amazonaws.com/images/emails/email_facebook.jpg" alt="F"></a></td>
			    <td><a href="http://twitter.com/#!/Machu_Picchu100" target="_blank"><img border="0" src="http://mp100.s3.amazonaws.com/images/emails/email_twitter.jpg" alt="T"></a></td>
			  </tr>
			  </table>
		        </td>
		        <td>
			  Estas subscrito como  
			  <span style="color:#0000ef; text-decoration: underline; ">{{email}}</span>.
			  Haz recibido este mensaje porque elegiste recibir comunicaciones acerca del Concurso de Fotografía 'Yo estuve en Machu Picchu'. 
			  Si ya no deseas recibir comunicaciones acerca del concurso, por favor 
			  <a href="{{mydomain}}/stop_comunications/{{encryptedUsername}}/" target="_blank">haz clic aquí</a>.
		        </td>
		    </tr>
		  </table>
		</td>
	</tr>
</table>
