{% load i18n %}
<div class="register-form">
  <form id="password-recovery-form" action="{% url recuperar_password %}" method="post">{% csrf_token %}
    <table class="report_concern">
      <tr><td colspan=2>{% blocktrans %}Please enter the email used in the registration process.{% endblocktrans %}
              <ul class="errorlist" style="display:none;">
                  <li>{% blocktrans %}This email is not registered{% endblocktrans %}</li>
              </ul>                
          </td>
      </tr>
      <tr>
          <td>
            <input class="textbox special_gray clearInput no_bottom_margin" type="text" name="username" maxlength="75" value="{% trans "Email" %}" title="{% trans "Email" %}">
            <input type="hidden" name="redirect" value="{{ request.path }}" />
          </td>

          <td>
              <input type="submit" value="{% trans "Receive new password" %}" class="button" />
          </td>
      </tr>
    </table>
  </form>
</div>
