{% load i18n %}

<div class="side_bar login_bar" id="#homepage_login_bar">
    <span class="black">{% blocktrans %}Thank you for registering for the &quot;I was in Machu Picchu&quot; Photo Contest! We have sent an activation link to your email address. In order to activate your account, please validate your email address using the link in the message.{% endblocktrans %}</span>
    <br/>
    <span class="black">{% blocktrans %}There is a chance our response to you will be discarded by your spam filter. You should receive an acknowledgment email within 10 minutes. If you don't see the email, look in your junk-mail folder. If you find it there, please mark the email as Not Junk and add @machu-picchu100.com to your address book.{% endblocktrans %}</span>
</div>
