
<table width=100% =500px style=" padding: 10px 0px 10px 0px; background-color:black; " >
	<tr>
		<td align= "center">
		<table  height=400 style=" padding: 50px 50px 0px 50px; margin: 0px; text-align: center; background-color: #8C9D2E; "  width=600px border=0 >
			<tr>
			<td>
			<table height=350 style=" padding: 0px; margin: 0px; text-align: center; background-color:white; "  width=600px border=0 >
			<tr>
				<td height=30%>
				<p style="letter-spacing: 0.2em;">{{user.first_name}} {{user.last_name}} te ha invitado a unirte al concurso mundial de fotos :
				<br/><strong>"Yo estuve en Machu Picchu"</strong></p>
				</td>
			<tr>
				<td height=50%>
				<p > {{text_content}}. <br/>Regístrate en  <a href="http://mp100.alwaysdata.net" target='_blank'>www.MP100.com</a></p>
				</td>
			</tr>
			<tr>
				<td height=20%>
				<p> <small> Copyright &copy; 2011 Yo 	estuve en Machu Picchu  </small></p>
				</td>
			</tr>
			</table>
			</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
