{% load i18n %}
<table class="edits_allowed">
<tr>
  <th>
    <b><u>{% blocktrans %}Minimal{% endblocktrans %}</u></b> {% blocktrans %}darkroom editing is permitted  to achieve the desired sharpness and color balance. Your photos must be authentic, however, and we reserve the right to reject photos that ahve been digitally altered. Please use the following guidelines when editing your photos:{% endblocktrans %}
  </th>
</tr>
<tr>
  <td>
    <ul>
    <li>{% blocktrans %}Minimal dodging (to brighten shadows) and burning (to darken highlights) is permitted in order to achieve an image that closely resembles what you saw. Drastic changes to saturation are not permitted.{% endblocktrans %}</li>    
    <li>{% blocktrans %}Use of Fish Eye Lenses{% endblocktrans %}</li>    
    <li>{% blocktrans %}Stitched panoramas (created from several photos taken at different angles from the same location and at thesame time and usingthesame focal length) are permitted only if all photos were taken within the same timeframe. All stitched images must use the same focal length. Please indicate in your photo caption that the image is stitched. If it is not noted as such, we reserve the right to disqualify the photo.{% endblocktrans %}</li>
    <li><b>{% blocktrans %}High Dynamic Range Images (HDRI){% endblocktrans %}</b> {% blocktrans %}are permitted if needed to more accurately portray the range of luminance that you witnessed.  HDRI images are permitted only if taken at the same time, from the same location and using the same focal length. If it is discovered that your photos were taken at different times (more than a few seconds apart), we reserve the right to disqualify the photo. Please indicate in your photo caption that the photo was processed using HDRI.  If your HDRI image is submitted without notation in your caption, we reserve the right to disqualify the photo.{% endblocktrans %}</li>
    </ul>
  </td>
</tr>
<tr>
  <th>
    {% blocktrans %}The following edits are{% endblocktrans %} <u><b>{% blocktrans %}not{% endblocktrans %}</b></u> {% blocktrans %}permitted:{% endblocktrans %}
  </th>
</tr>
<tr>
  <td>
    <ul>
    <li>{% blocktrans %}Outright digital alterations are not permitted. Your shot may be rejected if it is discovered that you have digitally added or removed any part of the image.{% endblocktrans %}</li>
    <li>{% blocktrans %}Drastic changes to saturation and exposure are not permitted.{% endblocktrans %}</li>
    <li>{% blocktrans %}Digital filters are not permitted.  Your photo will be rejected if your photo uses the automatic alteration filters in your digital photo software (solarization, mezzotint, duotone, etc.).{% endblocktrans %}</li>
    </ul>
  </td>
</tr>
</table>