{% load portal_tags %}

<table border=0 width=100% style=" padding: 10px 0px 10px 0px; " >
	<tr>
		<td align= "center">
		  <table style="border: 1px solid #d9d9db; border-collapse:collapse;">
		    <tr>
			<td>
			<table height=356 style="text-align: let; background-color:#FFFFFF; color:#333; border-collapse:collapse; font-family: arial sans-serif;"  width=600px border=0 >
				<tr>
					<td colspan=2>
					  <img border="0" src="http://mp100.s3.amazonaws.com/images/emails/cabeceras.jpg" usemap="#enlaces_cabecera" alt="Concurso de Fotografía Yo Estuve en Machu Picchu" />
					  <map name="enlaces_cabecera">
					    <area shape="rect" coords="14,0,82,61" href="http://machu-picchu100.com/"  target="_blank">
					    <area shape="rect" coords="463,11,5577,45" href="http://www.quimerahg.com/"  target="_blank">
					  </map>
					</td>
				</tr>
				<tr>
				  <td colspan=2>
				    <table width=600px border=0 style="border-collapse:collapse; font-family: arial sans-serif;">
					<td width="560px" style="padding:20px; ">
					    <p>{{recipient}},</p>
					    <p style="color:#899F3E; font-weight: bold;">
					      Gracias por participar en el Concurso de Fotografía, "Yo Estuve en Machu Picchu".
					    </p>
					    <p>
					      Tu amig@ {{sender}} te ha enviado un mensaje:
					    </p>
					    <p style="color:#899F3E; font-weight: bold;">Asunto</p>
					    <p>{{subject}}</p>
					    <p style="color:#899F3E; font-weight: bold;">Contenido</p>
					    <p>"{{body}}"</p>
					    <p>Buena suerte en el concurso!</p>

					</td>
				    </table>
				  </td>
				</tr>
				<tr>
				  <td colspan=2>
				    <table style="background-color: #839327; color:#fff; font-size: 11px; text-align: center; border-collapse:collapse; font-family: arial sans-serif;" width=600px border=0>
				      <tr><td>2011 QuimeraOnlife - &copy; Copyright</td></tr>
				    </table>
				  </td>
				</tr>
			</table>
			</td>
		    </tr>
		  </table>
		  <table width=600px border=0 style="border-collapse:collapse; font-size: 12px; color:#a3a5a9; font-family: arial sans-serif;">
		    <tr>
		        <td width=60px>
			  <table width=60px border=0 style="border-collapse:collapse; font-size: 12px; color:#a3a5a9; font-family: arial sans-serif;">
			  <tr><td colspan=2>Búscanos:</td></tr>
			  <tr>
			    <td><a href="http://www.facebook.com/machupicchu100photocontest" target="_blank"><img border="0" src="http://mp100.s3.amazonaws.com/images/emails/email_facebook.jpg" alt="F"></a></td>
			    <td><a href="http://twitter.com/#!/Machu_Picchu100" target="_blank"><img border="0" src="http://mp100.s3.amazonaws.com/images/emails/email_twitter.jpg" alt="T"></a></td>
			  </tr>
			  </table>
		        </td>
		        <td>
			  Estas subscrito como  
			  <span style="color:#0000ef; text-decoration: underline; ">{{email}}</span>.
			  Haz recibido este mensaje porque elegiste recibir comunicaciones acerca del Concurso de Fotografía 'Yo estuve en Machu Picchu'. 
			  Si ya no deseas recibir comunicaciones acerca del concurso, por favor 
			  <a href="{{mydomain}}/stop_comunications/{{encryptedUsername}}/" target="_blank">haz clic aquí</a>.
		        </td>
		    </tr>
		  </table>
		</td>
	</tr>
</table>
