{% extends "portal/menu_views/base_menu.html"  %}
{% load i18n %}
{% load portal_tags %}
{% load thumbnail watermark endless %} 
{% block title %}
  {% blocktrans %}Most Voted{% endblocktrans %}
{% endblock %}

{% block head %}
  {% include "portal/tags/sharethis/standard.html" %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lightbox-0.5.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.lightbox-0.5.css"/>
    <script type="text/javascript">
    $(document).ready(function() {
        //directioning of big buttons at home (IE hack)
        $('input#prizeGrandFinal').click(function(event){
            event.preventDefault();
            $(window.location).attr('href', '{% url portal_grand_prize %}');    
        });
    });
    $(function() {
      $('a.lightbox').lightBox({
	  imageLoading:			'{{MEDIA_URL}}images/jquery-lightbox-0.5/lightbox-ico-loading.gif',
	  imageBtnPrev:			'{{MEDIA_URL}}images/jquery-lightbox-0.5/lightbox-btn-prev.gif',
	  imageBtnNext:			'{{MEDIA_URL}}images/jquery-lightbox-0.5/lightbox-btn-next.gif',
	  imageBtnClose:			'{{MEDIA_URL}}images/jquery-lightbox-0.5/lightbox-btn-close.gif',
	  imageBlank:				'{{MEDIA_URL}}images/jquery-lightbox-0.5/lightbox-blank.gif'
      });
    });    
    </script>   
{% endblock %}

{% block wall_menu %}
<div class="wall_menu wall_menu_winners span-24 last">
{% endblock %}

{% block center_content %}
<div class="span-13 last breadcrumbs">
    <label class="link_all_green"><a href="{% url portal_most_voted %}">{% blocktrans %}Most Voted{% endblocktrans %} ></a></label>
    {% blocktrans %}Most Voted{% endblocktrans %}
</div>
<div class="span-14 last winners push_down_25">
  <div class="span-9">
    <h1>{% blocktrans %}Photo Contest{% endblocktrans %}</h1>
    <h2>{% blocktrans %}I was in Machu Picchu{% endblocktrans %}</h2>
    <h3>{% blocktrans %}A Photographic Wonder{% endblocktrans %}</h3>
  </div>
  <div class="span-5 last most_voted_word">
    <h1>{% blocktrans %}Most Voted{% endblocktrans %}</h1>
  </div>
  <div class="span-14 last mv_stoneMenu">
    <ul>
      <li class="MostVoted_selected">
	<a href="{% url portal_most_voted %}">
	  <label class="relative_push_down_10">{% blocktrans %}Most Voted{% endblocktrans %}</label>
	</a>
      </li>
      <li class="Most_Voted_10"><a href="{% url portal_top_ten %}">{% blocktrans %}10<br/>Most Voted{% endblocktrans %}</a></li>
      <li class="Most_Commented"><a href="{% url portal_mp100_special_awards %}">{% blocktrans %}Most<br/>Commented{% endblocktrans %}</a></li>
      <li class="Last_uploads"><a href="{% url portal_uploads_today %}">{% blocktrans %}Recent<br/>Uploads{% endblocktrans %}</a></li>
    </ul>
  </div>  
</div>

<div class="span-14 last all_to_right pagination_links pull_up_20">	
  {% paginate lista_fotos %}
  {% show_pages %}
</div> 

<div class="span-14 last pull_up_20">
  <ul class="image_list wide main">
  {% for foto in lista_fotos %}
    <li>
      <a class="resultados_search" href="{{ foto.get_absolute_url }}">
	<img width=122px height=116px src="{% thumbnail foto.foto '122x116' %}" alt="{{foto.titulo}}" title="{% blocktrans %}Check it out{% endblocktrans %}"/>
      </a>
    </li>
  {% empty %}
    {% blocktrans %}There are not voted photos yet.{% endblocktrans %}  
  {% endfor %}
  </ul>
</div>
<div class="span-14 last all_to_right pagination_links">	
  {% show_pages %}
</div>


<!--<div class="span-14 last pull_up_20 ">
{% for foto in lista_fotos %}
  <div class="span-1 winners_big_numbers {% cycle 'smooth_green' 'darker_gray' as numberColors %}">
    <h1>{{forloop.counter}}</h1>
  </div>
  <div class="span-4 winners_image_box">
    {% thumbnail foto.foto '600x600_upscale' as thumb %} 
    <a href="{{thumb|watermark:"mp100,position=br,opacity=90"}}" class="lightbox" title="{{foto.titulo}}">    
    <img width="122px" height="116px" alt="" src="{% thumbnail foto.foto '122x116' %}">
    </a>
  </div>
  <div class="span-8 winners_details_box {% cycle 'darker_gray' '' as textColors %} last">
    <h3 class="green no_margin"><label>{% blocktrans %}Photo title:{% endblocktrans %} {{foto.titulo}}</label></h3>
    {% blocktrans %}Author:{% endblocktrans %} <a class="link_all_green green" href="{{foto.codigo_user.get_profile.get_absolute_url}}">{{foto.codigo_user.first_name}}</a><br/>
    <h3 class="green no_margin"><label>{% blocktrans %}Description:{% endblocktrans %}</label></h3>
    {% if foto.descripcion %}
      {{foto.descripcion|truncatewords_html:"15"|safe}}
    {% else %}
      {% blocktrans %}There is no description.{% endblocktrans %}
    {% endif %}
  </div>
  <div class="span-14 last winners_separator">
    <hr>
  </div>
{% empty %}
  {% blocktrans %}There are not winners yet.{% endblocktrans %}
{% endfor %}
</div>-->
{% endblock %}